<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/kino-bio-projekt/assets/main-Dw2_R5mz.css">
  <title>Kino-bio-page</title>
</head>

<body>
  <header class="header">
    <div class="navigation__mobile">
      <a href="/kino-bio-projekt/index.html">
        <div class="header__logo"></div>
      </a>
      <button class="hamburger" aria-label="Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <ul class="hamburger__items">
      <button class="hamburger__close"></button>
      <li class="hamburger__list"><a href="#">BILJETTER</a></li>
      <li class="hamburger__list"><a href="#">EVENEMANG</a></li>
      <li class="hamburger__list"><a href="movies.html">FILMER</a></li>
      <li class="hamburger__list"><a href="#">MEDLEMSKAP</a></li>
      <li class="hamburger__list"><a href="about-us.html">OM OSS</a></li>
    </ul>

    <a href="/">
      <div class="header__logo"></div>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        {{#each headerItems}}
        <li class="header__nav-item">
          <a class="header__nav-link" href="{{this.link}}">{{this.label}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>
    <a class="header__bookTicket" aria-label="Book tickets now">
      <button class="header__BookTicket-button">BOKA BILJETT</button>
    </a>
  </header>
  {{{body}}}
  <div class="line-container">
    <div class="horizontal-line"></div>
  </div>
  <footer class="footer">
    <div class="footer__section">
      <h2 class="footer__heading">OM OSS</h2>
      <ul class="footer__list">
        <li class="footer__item"><a href="about-us.html" class="footer__link">OM KINO</a></li>
        <li class="footer__item"><a href="#" class="footer__link">FRÅGOR SVAR</a></li>
        <li class="footer__item"><a href="#" class="footer__link">KONTAKTA OSS</a></li>
      </ul>
    </div>
    <div class="footer__section">
      <h2 class="footer__heading">BIOUPPLEVELSER</h2>
      <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">PRESENTKORT</a></li>
        <li class="footer__item"><a href="#" class="footer__link">TILLGÄNGLIGHET</a></li>
        <li class="footer__item"><a href="#" class="footer__link">MEDLEMSKAP</a></li>
        <li class="footer__item"><a href="#" class="footer__link">BISTRO-BIO</a></li>
        <li class="footer__item"><a href="#" class="footer__link">EVENEMANG</a></li>
      </ul>
    </div>
    <div class="footer__section">
      <h2 class="footer__heading">SOCIALT</h2>
      <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">FACEBOOK</a></li>
        <li class="footer__item"><a href="#" class="footer__link">INSTAGRAM</a></li>
      </ul>
    </div>
  </footer>

  <script src="/kino-bio-projekt/assets/main-Cvyiwlqm.js"></script>
</body>

</html>