.moviesSecond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.moviesSecond__message__new {
  font-size: 18px;
  text-align: center;
  color: #888;
}

.moviesSecond__search {
  position: relative;
  width: 100%;
  height: 0.8rem;
}

  .moviesSecond__search input {
    position: absolute;
    left: 1rem;
    top: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
  }
.moviesSecond__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin-top: 2.1rem;
  margin-left: 1rem;
}

.moviesSecond__list__elem {
  width: calc(148px * 2);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.moviesSecond__list__elem:hover {
  transform: translateY(-5px);
}

.moviesSecond__list__elem__image {
  height: calc(220px * 2);
  width: calc(148px * 2);
  object-fit: cover;
}

.moviesSecond__list__elem__title {
  width: calc(145px * 2);
  font-size: 1.2rem;
  margin: 1rem;
}

.moviesSecond__list__elem__desc {
  width: calc(140px * 2);
  font-size: 0.8rem;
  color: #666;
  margin: 0.6rem 1rem;
}

.moviesSecond__list__elem__rating,
.moviesSecond__list__elem__date,
.moviesSecond__list__elem__price,
.moviesSecond__list__elem__seat {
  font-size: 0.8rem;
  margin: 0.2rem 1rem;
  color: #444;
}

.moviesSecond__list__elem__rating {
  font-weight: bold;
}