@use 'variables' as *;

.buttons_membership_events {
    background-color: $gray;
    padding: 2rem 0rem 5rem 0rem;
    display: flex;
    align-self: center;
    justify-content: center;
}

.membership {
    padding: $btn-padding;
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $red;
    background-color: $gray;
    border: 3px solid $red;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-right: 3rem;
}

.events {
    padding: $btn-padding;
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $red;
    background-color: $gray;
    border: 3px solid $red;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-left: 3rem;
}

.events:hover,
.membership:hover {
    background-color: $red;
    color: $gray;
}

@media (max-width: 800px) {
    .buttons_membership_events {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .events, 
    .membership {
        margin: 1rem 0 1rem 0;
    }
}