@use 'variables' as *;

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
}

.features__image_1,
.features__image_2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__content_1,
.features__content_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__content_1 {
    grid-column: 2;
    grid-row: 1;
}

.features__content_2 {
    grid-column: 1;
    grid-row: 2;
}

.features__heading {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $gray;
    padding: 1rem 2rem 0 2rem;
    text-align: center;
}

.features__text {
    font-size: 1.3rem;
    color: $gray; 
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
}

@media (max-width: 800px) {
    .features {
        display: flex;
        flex-direction: column;
    }

    .features__image_1 {
        order: 1;
    }

    .features__content_1 {
        order: 2;
        padding: 3rem 1rem 3rem 1rem;
    }

    .features__image_2 {
        order: 3;
    }

    .features__content_2 {
        order: 4;
        padding: 3rem 1rem 3rem 1rem;
    }
}