@use 'variables' as *;

.header {
  position: relative;
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-position: center top;
  height: 70vh;
}

.header__nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 10rem 0 0;
}

.header__logo {
  background-image: url('/images/kino-logo.png');
  background-size: cover;
  width: 10rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.header__nav-item {
  all: unset;
}

.header__nav-link {
  all: unset;
  color: white;
  font-size: 1.4rem;
}

.header__bookTicket {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  left: 45%;
}

.hamburger {
  display: none;
  font-size: 10rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header__nav-list {
    display: none;
  }

  .hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6rem;
    height: 5rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger:hover {
    scale: (1.1);
    .bar {
      background-color: $red;
    }
  }

  .bar {
    background-color: $gray;
    height: 0.5rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .hamburger__items {
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: $red;
    position: absolute;
    top: 10rem;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .hamburger__list {
    padding: 1rem 0;
  }

  .hamburger__items a {
    color: $gray;
    text-decoration: none;
    font-size: 2rem;
  }

  .hamburger__items.active {
    display: flex;
  }

 }