@use 'variables' as *;

.header {
  position: relative;
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-position: center top;
  height: 70vh;
}

.header__nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 10rem 2.5rem 0;
}

.header__logo {
  background-image: url('/images/kino-logo.png');
  background-size: cover;
  width: 10rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.header__nav-item {
  all: unset;
}

.header__nav-link {
  all: unset;
  color: white;
  font-size: 1.4rem;
}

.header__nav-link:hover {
  color: $red;
  font-weight: 700;
  cursor: pointer;
}

.header__bookTicket {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  left: 45%;
}

.header__BookTicket-button {
  padding: $btn-padding;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $red;
  background-color: transparent;
  border: 3px solid $red;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.header__BookTicket-button:hover {
  color: $gray;
  background-color: $red;
  border: 3px solid $gray;
}

@media (max-width: 800px) { 
  .header__nav-list {
    display: none;
  }
}