@use 'variables' as *;

.movies {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .movies__header {
    color: $gray;
    font-size: 2rem;
  }

  ul {
    @media (max-width: 800px) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: flex-start;
    }
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 0 1rem;
    overflow-x: auto;
    list-style: none;
    justify-content: center;
    width: 100%;
  }

  li {
    margin: 1rem 0.5rem;
    min-width: 15rem;
    max-width: 17rem;
    flex-shrink: 1;

    .movie-card {
      background-color: white;
      min-width: 15rem;
      margin: 0.2rem;
      border-radius: 0.2rem;
      display: grid;
      grid-template-rows: auto 1fr auto 1fr;
      grid-template-columns: 1fr 1fr;
      border: 3px solid $gray;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 23.7rem;
        min-height: 23.7rem;
        height: auto;
        grid-column: 1 / 3;
      }

      h3 {
        color: $red;
        grid-row: 2;
        grid-column: 1 / 4;
        padding: 0.3rem 0 0 0.2rem;
        font-size: 1.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        color: $red;
        grid-row: 4;
        padding: 0 0 0 0.2rem;
      }

      time {
        color: $red;
        grid-row: 3;
        grid-column: 1;
        align-self: center;
        padding: 0 0 0 0.2rem;
      }

      button {
        padding: $space-xs;
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $red;
        background-color: transparent;
        border: 3px solid $red;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        position: absolute;
        bottom: 0.2rem;
        right: 0.2rem;
      }
    }
  }

  .movies__actions {
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    justify-content: space-evenly;

    a {
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
      }

      padding: $btn-padding;
      font-size: $font-size-base;
      font-family: $font-family-base;
      color: $gray;
      background-color: $red;
      border: 3px solid $gray;
      font-weight: 550;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      margin: 0 1.5rem;
    }
  }
}
