@use 'variables' as *;

.movies {
  .movies__header {
    color: $gray;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 0 1rem;
    justify-content: space-evenly;
    overflow-x: auto;
    list-style: none;
  }

  li {
    margin: 1rem 0;

    .movie-card {
      background-color: white;
      min-width: 15rem;
      margin: 0.2rem;
      border-radius: 0.2rem;
      display: grid;
      grid-template-rows: auto 1fr auto 1fr;
      grid-template-columns: 1fr 1fr;
      border: 3px solid $gray;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 23.7rem;
        height: auto;
        grid-column: 1 / 3;
      }

      h3 {
        color: $red;
        grid-row: 2;
        padding: 0.3rem 0 0 0.2rem;
        font-size: 1.5rem;
      }

      span {
        color: $red;
        grid-row: 4;
        padding: 0 0 0 0.2rem;
      }

      time {
        color: $red;
        grid-row: 3;
        grid-column: 1;
        align-self: center;
        padding: 0 0 0 0.2rem;
      }

      button {
        padding: $space-xs;
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $red;
        background-color: transparent;
        border: 3px solid $red;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        position: absolute;
        bottom: 0.2rem;
        right: 0.2rem;
      }
    }
  }

  .movies__actions {
    a {
      padding: $btn-padding;
      font-size: $font-size-base;
      font-family: $font-family-base;
      color: $gray;
      background-color: $red;
      border: 3px solid $gray;
      font-weight: 550;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
    }
  }
}
