@use 'variables' as *;

.specific__movie {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
    gap: 1rem;
    justify-content: center;

    img {
        width: 25rem;
        object-fit: contain;
        border: 3px solid $gray;
    }

    div {
        background-color: white;
        border-radius: 0.2rem;
        border: 3px solid $gray;
        padding: 1rem 1rem;
        min-width: 67%;
        max-width: 67%;

        h3 {
            font-size: 4rem;
        }

        p {
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
}