//Generic styling

// Colors
$red: #2b0404; // Red
$gray: #dcdcdc; // Gray

// Fonts
$font-family-base: helvetica;

// Font sizes
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-sm: 14px;

// Spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;

// Button Base Styles
$btn-padding: $space-xs $space-md;