@use 'header';
@use 'variables' as *;
@use 'features';
@use 'liveEventButtons';
@use 'liveEvents';
@use 'about-us';
@use 'footer';
@use '_main_movie';
@use '_story';
@use '_festival';
@use '_buttons_membership_events';
@use '_tagline';
@use '_all_movie';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

body {
  width: 100%;
  height: 100vh;
}
/*
The leading underscore (_) in the name of an SCSS file indicates that the file is
a partial, meaning it is intended to be included in other SCSS files rather than being
compiled directly into a CSS file.
*/

body {
  background-color: $red;
}

// Primary Button
.primary_button {
  padding: $btn-padding;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $gray;
  background-color: $red;
  border: 3px solid $gray;
  font-weight: 550;
  cursor: pointer;
  text-align: center;
}

.secondary_button {
  padding: $btn-padding;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $red;
  background-color: $gray;
  border: 3px solid $red;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

// Divs to make the background colors different for easier demonstration.
.button_example1 {
  padding: 5rem;
}

.button_example2 {
  background: $gray;
  padding: 5rem;
}
