@use 'header';

/*
The leading underscore (_) in the name of an SCSS file indicates that the file is
a partial, meaning it is intended to be included in other SCSS files rather than being
compiled directly into a CSS file.
*/
