<section class="specific__movie">
    <img class="movie-card__image" src="{{movie.attributes.image.url}}" alt="Omslag för filmen {{movie.attributes.title}}">
    <div class="specific__movie-information">
    <h3 class="movie__title">{{movie.attributes.title}}</h3>
    <p class="movie__intro">{{movie.attributes.intro}}</p>
    </div>
</section>